<%= form_for @project, html: { role: 'form' } do |f| %>
  <!-- Check if there were any errors saving project and display them if so -->
  <% if @project.errors.any? %>
  <div id='error_explanation'>
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:</h2>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <!-- Begin rendering the form -->
  <div class= 'form-group'>
    <%= f.label :name, 'Project Name:' %><br>
    <%= f.text_field :name, class: 'form-control', id: 'focusedInput', type: 'text', autofocus: 'autofocus'  %>
  </div>
  <div class= 'form-group'>
    <%= f.label :description, 'Project Description:' %><br>
    <%= f.text_field :description, class: 'form-control', id: 'focusedInput', type: 'text', autofocus: 'autofocus'  %>
  </div>
  </div>
  <div class= 'form-group'>
    <%= f.label :due_date_at, 'Project Due Date (in UTC):' %><br>
    <%= f.datetime_select :due_date_at, 
                          minute_step: 15, 
                          default: 1.week.from_now, 
                          order: [:month, :day, :year],
                          start_year: Time.now.year %>
  </div>
  <hr>

  <h3>Members</h3>
  <div id="members">
    <%= f.fields_for :project_members do |member| %>
      <%= render 'project_member_fields', f: member %>
    
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Member', f, :project_members, class: "btn btn-danger" %>
    </div>  
  </div>
  <hr>
  
  <h3>Tasks</h3>
  <div id="tasks">
    <%= f.fields_for :tasks do |task| %>
      <%= render 'tasks/task_fields', f: task %>
    <% end %>
    <div class='links'>
<<<<<<< HEAD
      <%= link_to_add_association 'Add task', f, :tasks, class: "btn btn-warning" %>
    </div>  
  </div>
  <%= f.submit 'Submit', class: 'btn btn-success' %> 
=======
      <%= link_to_add_association 'Add task', f, :tasks, 
                                class: "btn btn-default",
                                :partial => 'tasks/task_fields' %>
    </div>  
  </div>
  
  <%= f.submit 'Submit', class: 'btn btn-primary' %> 
>>>>>>> 36fd6ee80a9cc9a98bd6ed5733fb68ba5f871845
  
  <%= link_to 'Back', root_path, class: 'btn btn-primary' %>
<% end %>