<%= form_for @project, html: { role: 'form' } do |f| %>
  <!-- Check if there were any errors saving project and display them if so -->
  <% if @project.errors.any? %>
  <div id='error_explanation'>
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:</h2>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div> 

  <!-- Begin rendering the form -->
  <div class= 'form-group'>
  <div class="field">
    <%= f.label :name, 'Project Name:' %>
    <br/>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description, 'Project Description:' %>
    <br/>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class= 'form-group'>
  
    <%= f.label :due_date_at, 'Project Due Date (in UTC):' %><br>
    <div class='input-group date' id='datetimepicker1'>
    <%= f.text_field :due_date_at, class: 'form-control' %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
  </div>
  </div>
  <script type="text/javascript">
            function nextweek(){
              var today = new Date();
              var nextweek = new Date(today.getFullYear(), today.getMonth(), today.getDate()+7);
              return nextweek;
            }
            $(function () {
              $('#datetimepicker1').datetimepicker({
                defaultDate: nextweek(),
                pickDate: true,
                pickTime: true,
                minuteStepping: 15,
                minDate: moment(),
              });
            });
  </script>

  <h3>Tasks</h3>
  <div id="tasks">
    <%= f.fields_for :tasks do |task| %>
      <%= render 'task_fields', :f => task %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add task', f, :tasks %>
    </div>
  </div>
  <%= f.submit %>
<% end %>