<div class="nested-fields">
<div class= 'field form-group'>
    <%= f.label :name, 'Task Name:' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class= 'field form-group'>
    <%= f.label :description, 'Task Description:' %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class= 'field form-group'>
    <%= f.label :creator, 'Creator:' %><br>
    <%= f.select :creator, User.all.map {|user| [user.name]}, class: 'form-control' %>
  </div>
  <div class= 'field form-group'>
    <%= f.label :user_id, 'Assign to:' %><br>
    <%= f.select :user_id, User.all.map {|user| [user.name, user.id]}, class: 'form-control' %>
  </div>
  <div class= 'field form-group'>
    <%= f.label :due_date_at, 'Task Delivery Minutes:' %><br>
    <%= f.number_field :delivery_minutes %>
  </div>
  <div class= 'field form-group'>
    <%= f.label :is_completed, 'Task Status:' %><br>
    <%= f.select :is_completed, [['Complete', true], ['Incomplete', false]], 
                                selected: false, class: 'form-control' %>
  </div>
  <%= link_to_remove_association "Remove task", f, class: "btn btn-default" %>
</div>
<br>