<p>DevPoint Labs coders are constantly working on projects to 1UP their 
coding-ninja skills!
</p>

<p>To help them manage all of these projects, they have 
created this project management application to keep track of their current 
progress and remaining tasks. 
</p>
<br>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">

       <%= image_tag("dev.jpg", :alt=> "dpl logo" ) %>
      <div class="DevPoint Labs">
      </div>
    </div>
    
<div class="item">
      <%= image_tag("js.png", :alt=> "javascript logo" ) %>
      <div class="Javascript">
      </div>
    </div>

<div class="item">
      <%= image_tag("ror.png", :alt=> "Rails logo" ) %>
      <div class="Ruby on Rails">
      </div>
    </div>
  </div>
</div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<br>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.due_date_at.localtime.strftime("%A, %b %-d, %Y  %l:%M%p") %></td>
        <td><%= project.creator.name %></td>
        <td><%= link_to 'View', project, class: 'btn btn-xs btn-default' %></td>
        <% if current_user == project.creator %>
          <td><%= link_to 'Edit', edit_project_path(project), class: 'btn btn-xs btn-default' %></td>
          <td><%= link_to 'Delete', project, class: 'btn btn-xs btn-default', method: :delete, 
                                              data: { 
                                                confirm: 'Are you sure you want to delete this project?' } %></td>
        <% end %>                                      
      </tr>
    <% end %>
  </tbody>
</table>

