<h1><%= @project.name %></h1>

<h3>Description:</h3>
<p><%= @project.description %></p>

<h3>Due Date:</h3>
<p><%= @project.due_date_at.localtime %></p>

<%= link_to 'Home', root_path %> | 
<%= link_to 'Edit', edit_project_path %> | 
<%= link_to 'Delete', project_path, method: :delete %>
