<!DOCTYPE html>
<html>
<head>
  <title>ProjectLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class ='container'>
  <%= yield %>
</div>
<br>
<div class="col-md-2 col-md-offset-5" >
<%= render 'layouts/clock' %>
</div>
<div class="footer">
      <%#= get_weather_widget(request) %>
</div>
</body>
</html>
